<%= form_with(model: book, local: true) do |form| %>
  <!--form_forとform_tagがform_withに統合された-->
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <!--bookオブジェクトを編集するフォームでisbnプロパティに対するテキストボックスであることを示している-->
    <!--入力自体にはbook_isbnというidをつけて管理する。-->
    <%= form.text_field :isbn, id: :book_isbn %>
    <!--本来なら@bookが出てくるはずだが、書かなくて済んでいる-->
  </div>

  <div class="field">
    <%= form.label :title %>
    <!--bookオブジェクトを編集するフォームでtitleプロパティに対するテキストボックスであることを示す-->
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :book_price %>
  </div>

  <div class="field">
    <%= form.label :publish %>
    <%= form.select :publish, ['技術評論社','翔泳社','日経BP社'],id: :book_publish %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.date_select :published, id: :book_published %>
  </div>

  <div class="field">
    <%= form.label :dl %>
    <%= form.check_box :dl, id: :book_dl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
